
<div class="our-coremaps" ng-class="{'our-coremaps--loading': showLoader}" ng-controller="Our.Gmaps.SnazzyMaps.Controller as vm">


    <div class="umb-content-grid" style="margin-bottom: 1em;" ng-if="selectedStyle.name">
        <div class="umb-content-grid__item">
            <div class="umb-content-grid__content">
                <img ng-if="selectedStyle.imageUrl" src="{{selectedStyle.imageUrl}}" alt="{{selectedStyle.name}}" />
                <span class="umb-content-grid__item-name">
                    <span>{{ selectedStyle.name }}</span>
                </span>

                <ul class="umb-content-grid__details-list">
                    <li class="umb-content-grid__details-item">
                        <div class="umb-content-grid__details-label">Description:</div>
                        <div class="umb-content-grid__details-value">{{ selectedStyle.description }}</div>
                    </li>
                    <li class="umb-content-grid__details-item">
                        <div class="umb-content-grid__details-label">Tags:</div>
                        <div class="umb-content-grid__details-value">{{ selectedStyle.tags.join(',') }}</div>
                    </li>
                    <li class="umb-content-grid__details-item">
                        <div class="umb-content-grid__details-label">Author:</div>
                        <div class="umb-content-grid__details-value"><a href="{{ selectedStyle.createdBy.url }}" target="_blank">{{ selectedStyle.createdBy.name }}</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="umb-button">
        <button ng-if="selectedStyle.name" style="margin-bottom: 1em;" type="button" class="btn umb-button__button" ng-click="removeSelectedStyle()"> <span class="umb-button__content"> <i class="icon-trash umb-button__icon"></i>Delete...</span> </button>
    </div>
    <div class="form-horizontal" style="margin-bottom: 1em;">
        <input type="text" class="umb-property-editor umb-textstring textstring" placeholder="Enter your SnazzyMaps API key" ng-model="apiKey" value="{{apiKey}}" />
        <div class="btn-group umb-button-group">
            <div class="umb-button"><button type="button" class="btn umb-button__button btn-action" ng-click="getApi('explore')">Explore Styles</button></div>
            <div class="umb-button"><button type="button" class="btn umb-button__button btn-info" ng-click="getApi('favorites')">Favorite Styles</button></div>
            <div class="umb-button"><button type="button" class="btn umb-button__button btn-info" ng-click="getApi('my-styles')">My Styles</button></div>
        </div>
    </div>
    <div class="umb-content-grid" ng-if="styles">

        <div class="umb-content-grid__item"
             ng-repeat="style in styles"
             ng-class="{'-selected': $scope.selectedStyle}"
             ng-click="clickItem(style, $event, $index)">

            <div class="umb-content-grid__content" ng-click="clickStyle(style)">
                <img src="{{style.imageUrl}}" alt="{{style.name}}" />
                <h5>{{ style.name }}</h5>

                <ul class="umb-content-grid__details-list">
                    <li class="umb-content-grid__details-item">
                        <div class="umb-content-grid__details-label">Description:</div>
                        <div class="umb-content-grid__details-value">{{ style.description }}</div>
                    </li>
                    <li class="umb-content-grid__details-item">
                        <div class="umb-content-grid__details-label">Tags:</div>
                        <div class="umb-content-grid__details-value">{{ style.tags.join(',') }}</div>
                    </li>
                    <li class="umb-content-grid__details-item">
                        <div class="umb-content-grid__details-label">Author:</div>
                        <div class="umb-content-grid__details-value"><a href="{{ style.createdBy.url }}" target="_blank">{{ style.createdBy.name }}</a></div>
                    </li>
                </ul>

            </div>

        </div>

        <div ng-if="pagination.totalItems === 0">
            <localize key="content_noItemsToShow">There are no items to show</localize>
        </div>

    </div>

    <div class="flex justify-center">
        <umb-pagination ng-show="pagination.totalPages"
                        page-number="pagination.currentPage"
                        total-pages="pagination.totalPages"
                        on-next="next"
                        on-prev="prev"
                        on-go-to-page="goToPage">
        </umb-pagination>
    </div>

    <umb-load-indicator ng-show="showLoader">

    </umb-load-indicator>

    <div ng-show="error">{{ error }}</div>

</div>
