<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d33454e-9ef8-4830-aef9-c0110ec126da" Alias="Multi Map Tests -  - Google Maps Multi Marker" Level="1">
  <Info>
    <Name>Multi Map Tests -  - Google Maps Multi Marker</Name>
    <EditorAlias>Our.Umbraco.GMaps.Multi</EditorAlias>
    <EditorUIAlias>GMaps.PropertyEditorUi.MultiMap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableDescription": true,
  "maptype": "Roadmap",
  "markerColors": [
    {
      "value": "e61414",
      "label": ""
    },
    {
      "value": "de2eea",
      "label": ""
    },
    {
      "value": "3dc7f5",
      "label": ""
    },
    {
      "value": "f4ec0b",
      "label": ""
    },
    {
      "value": "",
      "label": ""
    }
  ],
  "zoom": 12
}]]></Config>
</DataType>