<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b21a4f1e-3c7d-4a55-9f10-6e3d8c2a7b41" Alias="Test - Our.Umbraco.GMaps Multi Property Editor UI" Level="1">
  <Info>
    <Name>Test - Our.Umbraco.GMaps Multi Property Editor UI</Name>
    <EditorAlias>Our.Umbraco.GMaps.Multi</EditorAlias>
    <EditorUIAlias>GMaps.PropertyEditorUi.MultiMap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableDescription": true,
  "maptype": "Roadmap",
  "markerColors": [
    {
      "value": "e61414",
      "label": "Logistics"
    },
    {
      "value": "de2eea",
      "label": "Retail"
    },
    {
      "value": "3dc7f5",
      "label": "Office"
    },
    {
      "value": "",
      "label": ""
    }
  ],
  "maxNumber": 10,
  "minNumber": 1,
  "zoom": 12
}]]></Config>
</DataType>