<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3372f626-8208-4909-b59d-eea6ac479f94" Alias="Test - Map to Properties - Our.Umbraco.GMaps Single Property Editor UI" Level="1">
  <Info>
    <Name>Test - Map to Properties - Our.Umbraco.GMaps Single Property Editor UI</Name>
    <EditorAlias>Our.Umbraco.GMaps.Single</EditorAlias>
    <EditorUIAlias>GMaps.PropertyEditorUi.SingleMap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableFriendlyName": true,
  "location": "",
  "propertyMapping": {
    "mode": "outbound",
    "autoLookup": false,
    "mappings": [
      {
        "field": "street",
        "alias": "street"
      },
      {
        "field": "city",
        "alias": "city"
      },
      {
        "field": "full_address",
        "alias": "fullAddress"
      }
    ]
  }
}]]></Config>
</DataType>