<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5634fbdf-a637-4d4d-920b-9bb467ac3128" Alias="Test - Map From Properties - Google Maps Single Marker" Level="1">
  <Info>
    <Name>Test - Map From Properties - Google Maps Single Marker</Name>
    <EditorAlias>Our.Umbraco.GMaps.Single</EditorAlias>
    <EditorUIAlias>GMaps.PropertyEditorUi.SingleMap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "propertyMapping": {
    "mode": "inbound",
    "autoLookup": true,
    "mappings": [
      {
        "field": "full_address",
        "alias": "fullAddress"
      },
      {
        "field": "friendlyName",
        "alias": "friendlyName"
      }
    ]
  },
  "zoom": 17
}]]></Config>
</DataType>