<?xml version="1.0" encoding="utf-8"?>
<Content Key="33333333-3333-4333-8333-333333333333" Alias="Multi Marker Verification" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MultiMarkerVerification</Path>
    <Trashed>false</Trashed>
    <ContentType>multiMapTests</ContentType>
    <CreateDate>2026-08-24T02:00:21</CreateDate>
    <NodeName Default="Multi Marker Verification" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01a03134-ef05-710a-a6ff-1cb7fcf386ad">MultiMapTests</Template>
  </Info>
  <Properties>
    <locations>
      <Value><![CDATA[{
  "markers": [
    {
      "coordinates": {
        "lat": -28.173185200000002,
        "lng": 153.5423684
      },
      "full_address": "suite 10/75-77 Wharf St, Tweed Heads NSW 2485, Australia",
      "friendlyName": "Your teams Office",
      "key": "dddad14f-fd89-42e7-8c33-2ceac7ca1726",
      "streetNumber": "75-77",
      "street": "Wharf Street",
      "postalcode": "2485",
      "state": "New South Wales",
      "city": "Tweed Heads",
      "country": "Australia"
    },
    {
      "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
      "streetNumber": "3",
      "street": "Ferguson Close",
      "postalcode": "2480",
      "state": "New South Wales",
      "city": "Goonellabah",
      "country": "Australia",
      "coordinates": {
        "lat": -28.803777699999998,
        "lng": 153.35915029999998
      },
      "friendlyName": "Home",
      "key": "ca7ac896-adc3-4254-a710-463437e8a143",
      "color": "#3dc7f5"
    },
    {
      "full_address": "Brisbane QLD, Australia",
      "streetNumber": "",
      "street": "",
      "postalcode": "",
      "state": "Queensland",
      "city": "",
      "country": "Australia",
      "coordinates": {
        "lat": -27.4704528,
        "lng": 153.0260341
      },
      "friendlyName": "Brisbane",
      "key": "75fff331-777a-492c-8b83-a7917dd6a3c7",
      "color": "#de2eea"
    },
    {
      "full_address": "Sydney NSW, Australia",
      "streetNumber": "",
      "street": "",
      "postalcode": "",
      "state": "New South Wales",
      "city": "",
      "country": "Australia",
      "coordinates": {
        "lat": -33.8622503,
        "lng": 151.207684
      },
      "friendlyName": "Sydney",
      "key": "5cc0150c-3f5a-4332-a1e8-36155e37f9d1",
      "color": "#de2eea"
    },
    {
      "full_address": "Melbourne VIC, Australia",
      "streetNumber": "",
      "street": "",
      "postalcode": "",
      "state": "Victoria",
      "city": "",
      "country": "Australia",
      "coordinates": {
        "lat": -37.8136276,
        "lng": 144.96305759999998
      },
      "friendlyName": "Melbourne",
      "key": "80bba424-310d-4e66-8838-a12b0fc56c7c",
      "color": "#de2eea"
    }
  ],
  "mapconfig": {
    "zoom": 5,
    "maptype": "Roadmap",
    "centerCoordinates": {
      "lat": -32.79218054164133,
      "lng": 149.252713
    }
  }
}]]></Value>
    </locations>
    <multipleLocations>
      <Value><![CDATA[{
  "markers": [
    {
      "coordinates": {
        "lat": -28.173185200000002,
        "lng": 153.5423684
      },
      "full_address": "10/75-77 Wharf St, Tweed Heads NSW 2485, Australia",
      "friendlyName": "Work",
      "key": "ad2fb825-234f-4fcc-aa7e-2afdd610546d",
      "color": "e61414"
    },
    {
      "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
      "streetNumber": "3",
      "street": "Ferguson Close",
      "postalcode": "2480",
      "state": "New South Wales",
      "city": "Goonellabah",
      "country": "Australia",
      "coordinates": {
        "lat": -28.803777699999998,
        "lng": 153.35915029999998
      },
      "friendlyName": "Home",
      "key": "03bcbd8a-d27d-4837-80f5-fe9d415a58bc",
      "color": "#de2eea"
    }
  ],
  "mapconfig": {
    "zoom": 9,
    "maptype": "Roadmap",
    "centerCoordinates": {
      "lat": -28.488952262074207,
      "lng": 153.45075935
    }
  }
}]]></Value>
    </multipleLocations>
  </Properties>
</Content>