<?xml version="1.0" encoding="utf-8"?>
<Content Key="33333333-3333-4333-8333-333333333333" Alias="Multi Marker Verification" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MultiMarkerVerification</Path>
    <Trashed>false</Trashed>
    <ContentType>multiMapTests</ContentType>
    <CreateDate>2026-08-24T02:00:21</CreateDate>
    <NodeName Default="Multi Marker Verification" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01a03134-ef05-710a-a6ff-1cb7fcf386ad">MultiMapTests</Template>
  </Info>
  <Properties>
    <locations>
      <Value><![CDATA[{
  "markers": [
    {
      "coordinates": {
        "lat": -28.1733232,
        "lng": 153.542698
      },
      "full_address": "10/75 Wharf St, Tweed Heads NSW 2485, Australia",
      "friendlyName": "10/75 Wharf St",
      "key": "dddad14f-fd89-42e7-8c33-2ceac7ca1726"
    }
  ],
  "mapconfig": {
    "zoom": 12,
    "maptype": "Roadmap",
    "centerCoordinates": {
      "lat": -28.1733232,
      "lng": 153.542698
    }
  }
}]]></Value>
    </locations>
    <multipleLocations>
      <Value><![CDATA[{
  "markers": [
    {
      "coordinates": {
        "lat": -28.803777699999998,
        "lng": 153.35915029999998
      },
      "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
      "friendlyName": "Home",
      "key": "72338e44-38c3-4da4-81ce-cf99fb824fe7",
      "color": "de2eea"
    },
    {
      "coordinates": {
        "lat": -28.173185200000002,
        "lng": 153.5423684
      },
      "full_address": "10/75-77 Wharf St, Tweed Heads NSW 2485, Australia",
      "friendlyName": "Work",
      "key": "ad2fb825-234f-4fcc-aa7e-2afdd610546d",
      "color": "e61414"
    }
  ],
  "mapconfig": {
    "zoom": 9,
    "maptype": "Roadmap",
    "centerCoordinates": {
      "lat": -28.488952262074207,
      "lng": 153.45075935
    }
  }
}]]></Value>
    </multipleLocations>
  </Properties>
</Content>