<?xml version="1.0" encoding="utf-8"?>
<Content Key="11f3eb91-6e56-417a-bb74-fa32e4de40d7" Alias="Test 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2026-07-03T01:50:05</CreateDate>
    <NodeName Default="Test 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a696529e-feab-4fb1-887d-9ffabfec70a1">Test</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40278419-fc49-4c3a-b0e8-71450f29fcfc",
      "key": "13318009-cd88-4041-a7a7-cbd07a2c7fa2",
      "values": [
        {
          "alias": "singleMap",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "address": {
              "full_address": "Ste 10/75/77 Wharf St, Tweed Heads NSW 2485, Australia",
              "streetNumber": "77",
              "street": "Wharf Street",
              "postalcode": "2485",
              "state": "New South Wales",
              "city": "Tweed Heads",
              "country": "Australia",
              "coordinates": {
                "lat": -28.1731117,
                "lng": 153.5423265
              },
              "friendlyName": "Your teams"
            },
            "mapconfig": {
              "zoom": 17,
              "maptype": "roadmap",
              "centerCoordinates": {
                "lat": -28.17321745850538,
                "lng": 153.54251225
              }
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "13318009-cd88-4041-a7a7-cbd07a2c7fa2",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "13318009-cd88-4041-a7a7-cbd07a2c7fa2",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <singleBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40278419-fc49-4c3a-b0e8-71450f29fcfc",
      "key": "cdca39b9-9f3b-4b53-a9b4-cc9c493688a9",
      "values": [
        {
          "alias": "singleMap",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "address": {
              "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
              "streetNumber": "3",
              "street": "Ferguson Close",
              "postalcode": "2480",
              "state": "New South Wales",
              "city": "Goonellabah",
              "country": "Australia",
              "coordinates": {
                "lat": -28.803777699999998,
                "lng": 153.35915029999998
              },
              "friendlyName": "Home"
            },
            "mapconfig": {
              "zoom": 17,
              "maptype": "roadmap",
              "centerCoordinates": {
                "lat": -28.803705158731606,
                "lng": 153.35933875
              }
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cdca39b9-9f3b-4b53-a9b4-cc9c493688a9",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.SingleBlock": [
      {
        "contentKey": "cdca39b9-9f3b-4b53-a9b4-cc9c493688a9",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </singleBlock>
    <singleMap>
      <Value><![CDATA[{
  "address": {
    "full_address": "Unit 10/75-77 Wharf St, Tweed Heads NSW 2485, Australia",
    "streetNumber": "75-77",
    "street": "Wharf Street",
    "postalcode": "2485",
    "state": "New South Wales",
    "city": "Tweed Heads",
    "country": "Australia",
    "coordinates": {
      "lat": -28.1730931,
      "lng": 153.54236989999998
    },
    "friendlyName": "Your Space"
  },
  "mapconfig": {
    "zoom": 17,
    "maptype": "roadmap",
    "centerCoordinates": {
      "lat": -28.17320815850539,
      "lng": 153.54253394999998
    }
  }
}]]></Value>
    </singleMap>
  </Properties>
</Content>