<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40278419-fc49-4c3a-b0e8-71450f29fcfc" Alias="blockMap" Level="2">
  <Info>
    <Name>Map Block</Name>
    <Icon>icon-map-marker color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>72887cdd-d154-4ae9-9ebd-49a01f7827e7</Key>
      <Name>Single Map</Name>
      <Alias>singleMap</Alias>
      <Definition>3372f626-8208-4909-b59d-eea6ac479f94</Definition>
      <Type>Our.Umbraco.GMaps.Single</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>97948efd-ccf0-4245-a989-56f1bf338ca2</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>