<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5506ad25-d057-457a-b4d9-26a66b30209f" Alias="Test - Single Block - Block Single" Level="1">
  <Info>
    <Name>Test - Single Block - Block Single</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "40278419-fc49-4c3a-b0e8-71450f29fcfc",
      "label": "{gmp: singleMap.address}, {gmp: singleMap.coordinates}"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>