<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8e5d2a7-91b4-4f63-8a2e-15d7f4b93c60" Alias="Test - Our.Umbraco.GMaps Multi Property Editor UI" Level="1">
  <Info>
    <Name>Test - Our.Umbraco.GMaps Multi Property Editor UI</Name>
    <EditorAlias>Our.Umbraco.GMaps.Multi</EditorAlias>
    <EditorUIAlias>GMaps.PropertyEditorUi.MultiMap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "zoom": 12,
  "maptype": "Roadmap",
  "enableDescription": true,
  "minNumber": 1,
  "maxNumber": 10,
  "markerColors": [
    { "label": "Logistics", "value": "#2d7ef7" },
    { "label": "Retail", "value": "#d64545" },
    { "label": "Office", "value": "#2fa84f" }
  ]
}]]></Config>
</DataType>