<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afc03563-b73e-4ee9-820d-e32245a0adcf" Alias="Test - Blocks - Block List" Level="1">
  <Info>
    <Name>Test - Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "40278419-fc49-4c3a-b0e8-71450f29fcfc",
      "label": "{umbValue: map}"
    }
  ]
}]]></Config>
</DataType>