<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3372f626-8208-4909-b59d-eea6ac479f94" Alias="Test -  - Our.Umbraco.GMaps Single Property Editor UI" Level="1">
  <Info>
    <Name>Test -  - Our.Umbraco.GMaps Single Property Editor UI</Name>
    <EditorAlias>Our.Umbraco.GMaps.Single</EditorAlias>
    <EditorUIAlias>GMaps.PropertyEditorUi.SingleMap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "location": "52.379189, 4.899431",
  "zoom": 17
}]]></Config>
</DataType>