<style>
    .our-coremaps {
        position: relative;
    }

    .our-coremaps__area {
        margin-bottom: 20px;
    }

    .our-coremaps--loading #map-canvas::after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(246, 244, 244, 0.75);
    }

    #map-canvas {
        position: relative;
        height: 500px;
        width: 100%;
        margin-bottom: 20px;
    }
</style>

<div class="our-coremaps" ng-class="{'our-coremaps--loading': showLoader}" ng-controller="Our.Gmaps.Core.Controller as vm">

    <div class="our-coremaps__area">        
        <input type="text" id="map-autocomplete" class="umb-property-editor umb-textstring textstring" placeholder="Type name, address or geolocation" ng-model="searchedValue" />
    </div>

    <div id="map-canvas"></div>

    <umb-load-indicator ng-show="showLoader">
    </umb-load-indicator>

    <div ng-show="error">{{ error }}</div>

</div>
