<?xml version="1.0" encoding="utf-8"?>
<Content Key="f35fad17-deff-445a-bd2d-0326a8a42258" Alias="test 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test2</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2022-07-02T06:40:28</CreateDate>
    <NodeName Default="test 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a696529e-feab-4fb1-887d-9ffabfec70a1">Test</Template>
  </Info>
  <Properties>
    <singleMap>
      <Value><![CDATA[{
  "address": {
    "coordinates": {
      "lat": -33.86985968089664,
      "lng": 151.1963873092621
    },
    "full_address": "4/37-69 Union St, Pyrmont NSW 2009, Australia",
    "streetNumber": "37-69",
    "street": "Union Street",
    "city": "Pyrmont",
    "state": "New South Wales",
    "postalcode": "2009",
    "country": "Australia"
  },
  "mapconfig": {
    "zoom": 17,
    "maptype": "roadmap",
    "centerCoordinates": {
      "lat": -33.86979688155597,
      "lng": 151.1963186504594
    }
  }
}]]></Value>
    </singleMap>
  </Properties>
</Content>