<?xml version="1.0" encoding="utf-8"?>
<Content Key="b20b699c-7875-465a-a1ae-e4d7e2b9fb84" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2022-07-01T06:58:26</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a696529e-feab-4fb1-887d-9ffabfec70a1">Test</Template>
  </Info>
  <Properties>
    <singleMap>
      <Value><![CDATA[{
  "address": {
    "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
    "streetNumber": "3",
    "street": "Ferguson Close",
    "postalcode": "2480",
    "state": "New South Wales",
    "city": "Goonellabah",
    "country": "Australia",
    "coordinates": {
      "lat": -28.8037777,
      "lng": 153.3591503
    }
  },
  "mapconfig": {
    "zoom": 17,
    "maptype": "Terrain",
    "centerCoordinates": {
      "lat": -28.803705158731606,
      "lng": 153.35933875
    }
  }
}]]></Value>
    </singleMap>
  </Properties>
</Content>