<div class="umb-property-editor our-coremaps" ng-class="{'our-coremaps--loading': showLoader}" ng-controller="GMapsMapsController as vm">

    <div class="our-coremaps__area">
        <input type="text" class="our-coremaps__autocomplete umb-property-editor umb-textstring textstring" placeholder="Type name, address or geolocation" ng-model="searchedValue" />

        <div class="our-coremaps__coordinates">
            <span>Pin:</span> <span>{{address.coordinates.lat}},{{address.coordinates.lng}}</span><br />
            <span>Center:</span> <span>{{mapCenter.lat}},{{mapCenter.lng}}</span>
        </div>
    </div>

    <div class="our-coremaps__canvas"></div>

    <umb-load-indicator ng-show="showLoader">
    </umb-load-indicator>

    <div ng-show="error">{{ error }}</div>
</div>
