<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c042f0b-c10b-4b27-90dc-4f02a9906d55" Alias="test" Level="1">
  <Info>
    <Name>Test</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Test</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a696529e-feab-4fb1-887d-9ffabfec70a1">Test</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>138e696b-6d56-40a0-9187-a4870eb419cd</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>afc03563-b73e-4ee9-820d-e32245a0adcf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1baa2e2e-4030-4ae2-82bf-37914c34443a</Key>
      <Name>City</Name>
      <Alias>city</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="addressParts">Address parts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca2ecf40-d6ae-44d5-89dc-342ace7aac80</Key>
      <Name>Full Address</Name>
      <Alias>fullAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="addressParts">Address parts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d33fd47-95d6-40c9-9492-d27533c8e839</Key>
      <Name>Map From Properties</Name>
      <Alias>mapFromProperties</Alias>
      <Definition>5634fbdf-a637-4d4d-920b-9bb467ac3128</Definition>
      <Type>Our.Umbraco.GMaps.Single</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dff996b8-3da0-45a4-aa25-1a0b6063e9a0</Key>
      <Name>Single Block</Name>
      <Alias>singleBlock</Alias>
      <Definition>5506ad25-d057-457a-b4d9-26a66b30209f</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a9c09fa-ea2f-4c1f-b21b-7b14e6e55fe5</Key>
      <Name>Single Map</Name>
      <Alias>singleMap</Alias>
      <Definition>3372f626-8208-4909-b59d-eea6ac479f94</Definition>
      <Type>Our.Umbraco.GMaps.Single</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3aaaf0b6-1d86-4608-8731-ab8ac01648cc</Key>
      <Name>Street</Name>
      <Alias>street</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="addressParts">Address parts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4a59b72a-6341-48c1-987d-f890d7dc59dc</Key>
      <Caption>Address parts</Caption>
      <Alias>addressParts</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>fb0f96cf-5e5d-4096-92f4-9dad302ce331</Key>
      <Caption>Test</Caption>
      <Alias>test</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>