<?xml version="1.0" encoding="utf-8"?>
<Content Key="b20b699c-7875-465a-a1ae-e4d7e2b9fb84" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2022-07-01T06:58:26</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a696529e-feab-4fb1-887d-9ffabfec70a1">Test</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40278419-fc49-4c3a-b0e8-71450f29fcfc",
      "key": "48c1fee5-0f27-47d7-b243-af20a664860e",
      "values": [
        {
          "alias": "singleMap",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "address": {
              "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
              "streetNumber": "3",
              "street": "Ferguson Close",
              "postalcode": "2480",
              "state": "New South Wales",
              "city": "Goonellabah",
              "country": "Australia",
              "coordinates": {
                "lat": -28.803777699999998,
                "lng": 153.35915029999998
              }
            },
            "mapconfig": {
              "zoom": 17,
              "maptype": "roadmap",
              "centerCoordinates": {
                "lat": -28.803705158731606,
                "lng": 153.35933875
              }
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "48c1fee5-0f27-47d7-b243-af20a664860e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "48c1fee5-0f27-47d7-b243-af20a664860e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <singleBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40278419-fc49-4c3a-b0e8-71450f29fcfc",
      "key": "16adf637-9640-4f37-bdcc-708bc918d633",
      "values": [
        {
          "editorAlias": "Our.Umbraco.GMaps.Single",
          "culture": null,
          "segment": null,
          "alias": "singleMap",
          "value": "{\u0022address\u0022:{\u0022full_address\u0022:\u00223 Ferguson Cl, London E14 3SH, UK\u0022,\u0022streetNumber\u0022:\u00223\u0022,\u0022street\u0022:\u0022Ferguson Close\u0022,\u0022postalcode\u0022:\u0022E14 3SH\u0022,\u0022state\u0022:\u0022England\u0022,\u0022city\u0022:\u0022London\u0022,\u0022country\u0022:\u0022United Kingdom\u0022,\u0022coordinates\u0022:{\u0022lat\u0022:51.4900051,\u0022lng\u0022:-0.023843399999999997}},\u0022mapconfig\u0022:{\u0022zoom\u0022:16,\u0022maptype\u0022:\u0022roadmap\u0022,\u0022centerCoordinates\u0022:{\u0022lat\u0022:51.490779206257855,\u0022lng\u0022:-0.0267559545983298}}}"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "16adf637-9640-4f37-bdcc-708bc918d633",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.SingleBlock": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "16adf637-9640-4f37-bdcc-708bc918d633",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </singleBlock>
    <singleMap>
      <Value><![CDATA[{
  "address": {
    "full_address": "3 Ferguson Cl, Goonellabah NSW 2480, Australia",
    "streetNumber": "3",
    "street": "Ferguson Close",
    "postalcode": "2480",
    "state": "New South Wales",
    "city": "Goonellabah",
    "country": "Australia",
    "coordinates": {
      "lat": -28.8037777,
      "lng": 153.3591503
    }
  },
  "mapconfig": {
    "zoom": 17,
    "maptype": "Terrain",
    "centerCoordinates": {
      "lat": -28.803705158731606,
      "lng": 153.35933875
    }
  }
}]]></Value>
    </singleMap>
  </Properties>
</Content>